1.write rules for variables ?

*  we can use aplha-numeric character
*   case sensitive
*   can't use with keywords
*   can't use special charaacters
*  can't starts with digits

2.type function?give example?

type is to know which datatype stored in program varable the sentance is belong to

In [ ]:
str="water"
print(type("str"))

<class 'str'>

3.what is difference blw = and ==?

single = is equals to assign data  
             
double == is true of compare values for equality.

4.what difference b/w mutable and immutable?

mutable is changable the values or function in program after execution

immutable is unchangable the values or function in program after execution

5.write a pyt code first 10 natural number using loop?

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in a:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
num=int(input("enter the numbers:"))
i=1
while i<=num:
  print(i)
  i+=1

enter the numbers:10
1
2
3
4
5
6
7
8
9
10

6.write a python program sum of first 10 numbers?

In [12]:
a=[1,2,3,4,5,6,7,8,9,10]
count=0
for i in a:
  count+=i
print(count)

55

In [13]:
i=1
sum=0
while i<=10:
  sum+=i
  i+=1
print(sum)

55